{% extends 'AppAdminBundle:Layout:admin.html.twig' %}
{% form_theme form 'AppAdminBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
         <h1>Création du format de croping</h1>
         
            {% for flashMessage in app.session.flashbag.get('duplication') %}
               <div class="alert alert-block alert-danger fade in">
                   {{ flashMessage }}
               </div>
            {% endfor %}

         {{ form(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        
        $('#app_adminbundle_croping_width').attr('value', 100);
        $('#app_adminbundle_croping_height').attr('value', 100);
        $('#app_adminbundle_croping_quality').attr('value', 100);
    </script>
{% endblock %}
    
