{% form_theme form 'AppAdminBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Création d'un média
            </header>
            {{ form(form) }}
        </section>
    </div>
</div>