{% form_theme form 'AppAdminBundle:Form:fields-filter.html.twig' %}

<div class="col-sm-3">
    <section class="panel">
        <header class="panel-heading">
            Filtres de recherche
        </header>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </section>
</div>
